<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tap Counter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Tap Counter</h1>
    <p>Counter: <span id="counter">{{ counter }}</span></p>
    <button id="tapButton">Tap Here</button>
    <button id="resetButton">Reset Counter</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
